.wrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: chartreuse;
    padding: 50px;
}
.box{
    width: 100px;
    height: 100px;
    margin: 10px;
    background-color: red;
    transition: 2s;
}
.box:hover{
    background-color: beige;
    border-radius: 50%;
    transition: 2s;
}