*{
    margin: 0;
    padding: 0;
}
.gridHW4{
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 0.5fr 5fr 4fr 1fr 1fr;
    grid-template-areas:
    "header header"
    "sec1 sec2"
    "sec1 sec3"
    "sec4 sec4"
    "footer footer";
}
header{
    background: #D9D9D9;
    grid-area:  header;
}
.sec1{
    grid-area: sec1;
    background: #AFA9A9;
}
.sec2{
    grid-area:  sec2;
    background: #7F7A7A;
}
.sec3{
    grid-area:  sec3;
    background: #615050;
}
.sec4{
    grid-area:  sec4;
    background: #D9D9D9;
}
footer{
    grid-area:  footer;
    background: #AFA9A9;
}