*{
    margin: 0;
    padding: 0;
}
.gridHW2{
    display: grid;
    grid-template-rows: 20vh 30vh 30vh 20vh;
    grid-template-columns: 30vw 40vw 30vw;
    grid-template-areas:
    "header header header"
    "Left up Right"
    "Left down Right"
    "footer footer  footer";
}
header{
    background: #D9D9D9;
    grid-area:  header;
}
footer{
    background: #D9D9D9;
    grid-area:   footer;
}
.secLeft{
    background: #C0BDBD;
    grid-area: Left;
}
.Up{
    background: #827878;
    grid-area:  up;
}
.down{
    background: #B7ADAD;
    grid-area:  down;
}
.secRight{
    background: #C0BDBD;
    grid-area:  Right;
}