*{
    margin: 0;
    padding: 0;
}
.gridHW1{
    display: grid;
    grid-template-rows: 20vh 60vh 20vh;
}
footer{
    background: #D9D9D9;

}
header{
    background: #D9D9D9;
}
main {
    background: #A4A4A4;

}