body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: board 5s linear infinite alternate;
}
@keyframes board {
    from{
        transform: none;

    }
    to{
        transform: scale(2);
        color: red;
    }
}

